[main]
    [[host]]
        port = 8000
        scheme = http
        domain = localhost
    [[site]]
        domain = localhost
    palette = default
    [[keys]]
        D = Debug
        q = Quit
[projects]
    [[keys]]
        W = Wiki
        B = Backlog
        I = Issues
        A = Admin
        M = Milestones
        P = Projects
[backlog]
    [[keys]]
        K = Us up
        n = Create user story
        w = Update user stories order
        e = Edit user story
        ? = Help
        N = Create user stories in bulk
        J = Us down
        m = Move us to milestone
        delete = Delete user story
        r = Reload
[milestone]
    [[keys]]
        n = Create task
        e = Edit user story or task
        N = Create user story
        ? = Help
        m = Change to milestone
        delete = Delete user story or task
        r = Reload
[issues]
    [[keys]]
        n = Create issue
        e = Edit issue
        ? = Help
        f = Filters
        delete = Delete issue
        r = Reload
[palettes]
    [[default]]
        footer = black, black
        progressbar-normal = black, dark gray, standout
        cancel-button = black, light gray
        info = white, dark blue
        progressbar-complete-red = white, dark red
        submit-button = white, dark green
        magenta = light magenta, default
        popup-selected = dark cyan, black
        green-bg = white, dark green
        error = white, dark red
        popup-cancel-button = black, light gray
        red = dark red, default
        progressbar-normal-red = black, dark gray, standout
        popup-text-magenta = light magenta, dark gray
        popup-section-title = "white,underline,bold", dark gray
        footer-info = light blue, black
        footer-error = dark red, black
        account-button = black, dark green
        yellow = yellow, default
        progressbar-complete = white, dark green
        progressbar-smooth-red = dark red, dark gray
        popup-text-red = dark red, dark gray
        default = white, default
        password-editor = "light red,underline", black
        popup-submit-button = white, dark green
        focus-header = black, dark green
        editor = "white,underline", black
        popup-editor = "white,underline", dark gray
        cyan = dark cyan, default
        progressbar-smooth = dark green, dark gray
        inactive-tab = white, default
        green = dark green, default
        active-tab = white, dark blue
        popup = white, dark gray
        projects-button = black, dark green
        help-button = white, black
        focus = black, dark cyan
